/** ----------------------------------

  Buttons
  -------

  Buttons module.

---------------------------------- */
/*
  Variable defaults.
*/
$green: green !default;
$red: red !default;
$button-selectors: 'a.button, button';

/*
  Mixon.
*/
@mixin buttons() {
  #{$button-selectors} {
    @include default-button-layout;
    
    &.red {
      @include set-button-color($red);
    }
  }
  
  button {
    @include reset-button;
  }
  
  .button-bar {
    @include button-bar-layout;
  }
}


/** ----------------------------------

    Module utilities.
    
---------------------------------- */
/*
  Set button color mixin.
*/
@mixin set-button-color($color) {
  background-color: $color;
  
  &:hover {
    background-color: darken($color, 5%);
  }
  
  &:active {
    background-color: darken($color, 7%);
  }
}


/** ----------------------------------

    Module mixins.
    
---------------------------------- */
/*
  Default button layout mixin.
*/
@mixin default-button-layout() {
  @include inline-block;
  @include border-radius;
  @include transition(background-color .1s ease-out);
  @include set-button-color($green);
  
  padding: 15px 25px;
  color: white;
  text-decoration: none;
  background-color: $green;
    
  &:active {
    padding-top: 16px;
    padding-bottom: 14px;
  }
}

/*
  Reset button mixin.
*/
@mixin reset-button() {
  border: 0;
  outline: 0;
}

/*
  Button bar layout mixin.
*/
@mixin button-bar-layout() {
  @include pie-clearfix;
  
  #{$button-selectors} {
    float: left;
    
    &:first-child,
    &:first-of-type {
      @include border-top-right-radius(0);
      @include border-bottom-right-radius(0);
    }
    
    &:last-child {
      @include border-top-left-radius(0);
      @include border-bottom-left-radius(0);
    }
  }
}