/** ----------------------------------

  m Theme - Light
  ---------------

  Custom example theme for m.
  
  Uses:
    _m-functions.scss
    _m-variables.scss

---------------------------------- */
$light-theme-class: class-prefix('theme-light') !default;

#{$wrapper}#{$light-theme-class} {
  position: relative;
  background: red;
  
  #{$list} {
    @include border-radius(4px);

    width: 100%;
    position: absolute;
    background-color: white;
    border: 1px solid $lightgray;
  }
}