/** ----------------------------------

  m Theme - Light
  ---------------

  Custom example theme for m.

---------------------------------- */
$m-class-prefix: 'm' !default;
$click-to-open: false !default;

$lightgray: #ccc;

@function class-prefix($class) {
  $output: '';
  
  @if $m-class-prefix != '' {
    $output: '.#{$m-class-prefix}-#{$class}';
  } @else {
    $output: '.#{$class}';
  }
  
  @return $output;
}

$wrapper: class-prefix('select-box-wrapper');
$select: class-prefix('select');
$title-wrap: class-prefix('title-wrap');
$title-target: class-prefix('title-target');
$arrow-icon: class-prefix('arrow-icon');
$list: class-prefix('list');

#{$wrapper} {
  position: relative;
  
  #{$list} {
    @include border-radius(4px);

    width: 100%;
    position: absolute;
    background-color: white;
    border: 1px solid $lightgray;
  }
}