/** ----------------------------------

  Website
  -------

  Layout for common website styles.

---------------------------------- */
html {
  height: 100%;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100%;
}

/*
  General purpose container element.
*/
.container {
  // Set the container for all the breakpoints.
  @include container($total-columns, $break-desktop, $break-tablet, $break-phone);
  @include grid-bg;
  
  // Redraw the grid on breakpoints.
  @include tablet {
    @include grid-bg;
  }
  
  @include phone {
    @include grid-bg;
  }
  
  clear: both;
  position: relative;
}

/*
  Rules
*/
hr {
  width: 100%;
  height: 0;
  margin: 40px 0;
  border: 0;
  border-top: 1px dashed $midgray;
  outline: none;
}